{% extends 'base.html.twig' %}

{% block title %}Create Restaurant{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Créer un nouveau restaurant</h1>

        {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(form.adresse) }}
            </div>
            <div class="form-group">
                {{ form_row(form.categorie) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Créer</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

