{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}
    <h1>Restaurants</h1>

    <ul>
        {% for restaurant in restaurants %}
            <li>
                <strong>{{ restaurant.nom }}</strong><br>
                <em>{{ restaurant.adresse }}</em><br>
                <em>Category: {{ restaurant.categorie }}</em><br>

                <a href="{{ path('restaurant_menu', {'id': restaurant.id}) }}">
                    <button>Voir menu</button>
                </a>

                {% if restaurant.user == app.user %}
                    <a href="{{ path('restaurant_manage', {'id': restaurant.id}) }}">
                        <button>Gérer le restaurant</button>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}