{% extends 'base.html.twig' %}

{% block title %}Gestion des menus pour {{ restaurant.nom }}{% endblock %}

{% block body %}
    <h1>Gestion des menus pour {{ restaurant.nom }}</h1>

    <h3>Créer un nouveau menu</h3>
    {{ form_start(menuForm) }}
        {{ form_row(menuForm.name) }}
        <button type="submit">Créer un menu</button>
    {{ form_end(menuForm) }}

    <h3>Menus existants</h3>
    {% for menu in menus %}
        <div>
            <h4>{{ menu.name }}</h4>

            <form method="post" action="{{ path('restaurant_delete_menu', {'restaurantId': restaurant.id, 'menuId': menu.id}) }}">
                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce menu ?');">Supprimer le menu</button>
            </form>

            <h5>Plats dans ce menu:</h5>
            <ul>
                {% for plat in menu.plats %}
                    <li>
                        <strong>{{ plat.nom }}</strong><br>
                        <em>Catégorie: {{ plat.categorie }}</em><br>
                        <em>Ingrédients: {{ plat.ingredients }}</em><br>
                        <strong>Prix: {{ plat.prix }}€</strong>

                        <form method="post" action="{{ path('restaurant_delete_plat', {'restaurantId': restaurant.id, 'menuId': menu.id, 'platId': plat.id}) }}">
                            <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce plat ?');">Supprimer le plat</button>
                        </form>
                        <a href="{{ path('restaurant_modify_plat', {'restaurantId': restaurant.id, 'menuId': menu.id, 'platId': plat.id}) }}">Modifier le plat</a>
                    </li>
                {% else %}
                    <p>Aucun plat dans ce menu.</p>
                {% endfor %}
            </ul>

            <h5>Ajouter un plat à ce menu</h5>
            {{ form_start(platForms[menu.id]) }}
                <input type="hidden" name="menu_id" value="{{ menu.id }}">
                {{ form_row(platForms[menu.id].nom) }}
                {{ form_row(platForms[menu.id].ingredients) }}
                {{ form_row(platForms[menu.id].prix) }}
                {{ form_row(platForms[menu.id].categorie) }}
                <button type="submit">Ajouter le plat</button>
            {{ form_end(platForms[menu.id]) }}
        </div>
    {% else %}
        <p>Aucun menu disponible pour ce restaurant.</p>
    {% endfor %}
{% endblock %}
