{% extends 'base.html.twig' %}

{% block title %}Modifier Plat - {{ plat.nom }}{% endblock %}

{% block body %}
    <div class="restaurant-container">
        <h1>Modifier le plat : {{ plat.nom }}</h1>

        {{ form_start(platForm) }}
            <div class="form-group">
                {{ form_row(platForm.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(platForm.ingredients) }}
            </div>
            <div class="form-group">
                {{ form_row(platForm.prix) }}
            </div>
            <div class="form-group">
                {{ form_row(platForm.categorie) }}
            </div>
            <button type="submit" class="btn btn-action">Enregistrer les modifications</button>
        {{ form_end(platForm) }}

        <div class="form-actions">
            <a href="{{ path('restaurant_manage_menus', {'id': restaurant.id}) }}" class="btn btn-secondary">Retour à la gestion des menus</a>
        </div>
    </div>
{% endblock %}
