{% extends 'base.html.twig' %}

{% block title %}Commander{% endblock %}

{% block body %}
    <h1>Restaurant: {{ restaurant.nom }}</h1>
    
    <div class="restaurant-info">
        <h2>Restaurant Information:</h2>
        <p><strong>Addresse:</strong> {{ restaurant.adresse }}</p>
        <p><strong>Categorie:</strong> {{ restaurant.categorie }}</p>
    </div>
    
    <div class="commande-actuelle">
        <h3>Commande Actuelle:</h3>
        <ul>
            {% set prixTotal = 0 %}
            {% for plat in commandeActuelle %}
                <li> 
                    {{ plat.nom }} - {{ plat.prix }} €
                    <a href="{{ path('user_remove_from_command', { 'platId': plat.id, 'restaurantId': restaurant.id }) }}">Supprimer</a>
                </li>
                {% set prixTotal = prixTotal + plat.prix %}
            {% else %}
                <p>Vous n'avez rien dans votre commande.</p>
            {% endfor %}
        </ul>

        <h4>Prix Total: {{ prixTotal }} €</h4>

        <form action="{{ path('user_submit_command', { 'restaurantId': restaurant.id }) }}" method="POST">
            <button type="submit">Soumettre la Commande</button>
        </form>
        <a href="{{ path('user_reset_command', { 'restaurantId': restaurant.id }) }}">Réinitialisation de la Commande</a>
    </div>

    <div class="menus">
        {% for menu in menus %}
            <h3>{{ menu.name }}</h3>
            <ul>
                {% for plat in menu.plats %}
                    <li>
                        <strong>{{ plat.nom }}</strong><br>
                        <em>Ingredients: {{ plat.ingredients }}</em><br>
                        <strong>Categorie: </strong>{{ plat.categorie }}<br>
                        <strong>Prix: </strong>{{ plat.prix }} €<br>
                        
                        <form action="{{ path('user_add_to_command', { 'platId': plat.id }) }}" method="POST">
                            <button type="submit">Ajouter à la Commande</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
